.parentBroly {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    /* background-color: rgb(0, 229, 255); */
}

.broly {
    width: 100%;
    height: 68.2%;
    display: flex;
    /* background-color: rgb(255, 0, 0); */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#divBrolyAttackB {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.brolyAttack {
    display: flex;
    width: 70%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

#divWin {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}

.win {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
}

.restart {
    height: 50px;
    width: 100px;
    display: none;
    top: 50px;
    justify-content: center;
    align-items: center;
    
    font-weight: bold;
    text-decoration: none;
}
.restart a {
    background-color: black;
    color: white;
}


.nameB {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    /* background-color: purple; */
    padding-right: 10%;
    height: 80%;
    animation: START 4s infinite;
}
@keyframes START
{     50%
    
{       transform: translate(20px,-15px);           }   }

.nameB img {
    border-radius: 30%;
    height: 80%;
}
.progresseBarreContainerBroly {
    width: 280px;
    height: 110px;
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;
}

.progresseBarreContainerBroly h1 {
    margin: 0%;
    padding: 0%;
    color: rgb(255, 255, 255);
}

.progresseInsideBroly {
    width: 100%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1%;
}

.pvB {
    width: 98%;
    height: 80%;
    background-color: red;
}