body {
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.divFirstAttack {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.kamehamea {
    display: flex;
    width: 70%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

#divSecondAttackG {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.kikodan {
    display: flex;
    width: 70%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

#divTreeAttackG {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.fusion {
    display: flex;
    width: 70%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

#divFourAttackG {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.finalKamehamea {
    display: flex;
    width: 70%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

#divFiveAttackG {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.finalAttackFusion {
    display: flex;
    width: 70%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

#noFight {
    display: flex;
    /* background-color: red; */
    width: 100%;
    height: 915px;
    background-image: url(./../img/BackG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#noFight {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.parentGoku {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    /* background-color: blue; */
}

.goku {
    width: 100%;
    height: 62%;
    display: flex;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
    padding-left: 10%;
}

.name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: purple; */
    width: 40%;
    height: 80%;

}

.name img {
    border: 2px solid black;
    border-radius: 30%;
    height: 100%;
    background-color: blue;
}



.btnG {
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: green; */
    flex-direction: column;
    gap: 20px;
}


.btntop {
    display: flex;
    /* background-color: red; */
    height: 20%;
    width: 60%;
    gap: 5px;
}

.btnbot {
    display: flex;
    height: 30%;
    width: 60%;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.btntop button {
    height: 100%;
    width: 50%;
    background: #131adf;
    font-weight: bold;
}

.btnbot button {
    background-color: rgb(71, 213, 0);
    height: 70%;
    width: 33%;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.btnbot button:last-child {
    background-color: rgb(255, 0, 0);
    height: 70%;
    width: 33%;
    color: rgb(0, 0, 0);
}
.btnbot button:first-child {
    height: 70%;
    width: 33%;
    background-color: lightblue;
}
.btntop button:last-child {
    background-color: rgb(229, 111, 20);
}

.btntop button:hover, .btnbot button:hover{
    box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
    background-color: white;
    color: black;
}

audio {
    position: absolute;
    opacity: 10%;
    width: 20%;
}



.satellite, .satellite:after {
    content: "";
    position: absolute;
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

.satellite {
    /* background: #ffedd1; */
    background-image: url(./../img/926ee0a10770c24a49b43723718cf087-PhotoRoom.png-PhotoRoom.png);
    background-size: cover;
    /* box-shadow: -2em 0 5em -1em rgba(255, 255, 255, 0.418); */
    overflow: hidden;
    transition: 250em;
    left: 32em;
    transform: rotate(20deg);
    animation: round 5s infinite ease;
}

.satellite::after{
    /* background: #262938; */
    width: 2.5em;
    left: 2.5em;
    /* box-shadow: 0   0   0.75em  0.95em  #262938; */
    animation: shadow 5s infinite ease-in-out;
}

@keyframes shadow{
    0% {
        width: 2.5em;
        left: 0;
    }

    25% {
        width: 5em;
        left: 0;
    }

    50% {
        width: 2.5em;
        left: 2.5em;
    }

    75% {
        width: 0;
        left: 5em;
    }

    80% {
        left: 0;
        /* box-shadow: 0   0   0.55em  0.75em  #262938; */
    }

    100% {
        width: 2.5em;
        left: 0;
    }
}

@keyframes round {

    0%,
    100% {
        top: 2em;
        left: -15em;
        box-shadow: -2em    0   5em 0.5em #c6836466;
        z-index: 2;
    }

    25% {
        box-shadow: 0   0   3em 1em #412104b5;

    }

    75% {
        box-shadow: 0   0   3em 1em black;
    }

    48% {
        z-index: 2;
    }

    50% {
        left: 40em;
        top: 20em;
        z-index: -1;
        box-shadow: 2em 0   5em 0.5em #845a4682;
    }

    99% {
        z-index: -1;
    }
}