body {
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.divFirstAttack {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.kamehamea {
    display: flex;
    width: 70%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

#divSecondAttackG {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.kikodan {
    display: flex;
    width: 70%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

#divTreeAttackG {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.fusion {
    display: flex;
    width: 70%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

#divFourAttackG {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.final-kamehamea {
    display: flex;
    width: 70%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

#noFight {
    display: flex;
    /* background-color: red; */
    width: 100%;
    height: 915px;
    background-image: url(./../img/animate.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

#noFight {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.parentGoku {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    /* background-color: blue; */
}

.goku {
    width: 100%;
    height: 62%;
    display: flex;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
    padding-left: 10%;
}

.name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: purple; */
    width: 40%;
    height: 80%;

}

.name img {
    border: 2px solid black;
    border-radius: 30%;
    height: 100%;
    background-color: blue;
}

.btnG {
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
    flex-direction: column;
    gap: 20px;
}



.btntop {
    display: flex;
    /* background-color: red; */
    height: 30%;
    width: 60%;
    gap: 20px;
}

.btntop button {
    background-color: rgb(0, 13, 255);
    height: 100%;
    width: 50%;
    
}
.btnbot {
    display: flex;
    /* background-color: red; */
    height: 30%;
    width: 60%;
    gap: 20px;

}

.btntop button {
    background-color: rgb(0, 13, 255);
    height: 100%;
    width: 50%;
    border-radius: 30%;

}

.btnbot button {
    background-color: rgb(255, 149, 0);
    height: 100%;
    width: 50%;
    border-radius: 30%;
}

.btnbot button:last-child {
    background-color: rgb(128, 0, 0);
}
.btnbot button:first-child {
    background-color: rgb(255, 255, 255);
}
.btntop button:last-child {
    background-color: rgb(120, 0, 104);
}



.btntop button:hover, .btnbot button:hover{
    box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
    background-color: white;
}