body {
    padding: 0%;
    margin: 0%;
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./../img/mechant.jpg);
    background-size: cover;
} 

body h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#perso1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 27%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: red;
    background-image: url(./../img/vegeta/966cdef874893db0e909031f4888e336.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

#perso1 h2 {
    padding: 0%;
    margin: 2%;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
#perso2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 28%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-image: url(./../img//vegeta/3ac980ebcd10820a6fbf5b7370ff393a.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}


.mid {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 50%;
    height: 100%;
}

.mid img {
    width: 40%;
}


.card img {
    background-size: contain;
    border-radius: 30%;

}

#perso2 h2 {
    padding: 0%;
    margin: 2%;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
}

img {
    width: 150px;
    height: 150px;
}

a {
    width: 80px;
    height: 50px;
    background: #EE5203;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8%;
    font-weight: bold;
}

a:hover {
    box-shadow: #EE5203 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: white;
    color: black;
}

#perso1 h2, #perso2 h2 {
    background-color: rgba(255, 102, 0, 0.619);
    border-radius: 5%;
    color: white;
    border: 2px solid black;
}

.card {
    padding-top: 450px;
}